*{
    margin: 0px;
    padding: 0px;
}

#container{
    height: 400px;
    width: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
}

.squareDiv{
    border: 0.5px solid rgb(121, 121, 121);
}

.squareDiv:hover{
    background-color: black;
}

.drawnBlack{
    background-color: black;
    transition: all 0.25s ease-in-out;
}

.reset{
    background-color: white;
    transition: all 0.6s ease-in-out;
}